body{
	position: relative;
	max-width: 100%;
}

.panel-body span
{
    margin-top: 0px;
    font-size: 15px;
    margin-right: -12px;
}

.clickable {
    background: rgba(0, 0, 0, 0.15);
    display: inline-block;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
}

div.controls
{
	margin-top: 10px;
}

img{
    vertical-align: middle;
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
    background-size: contain;
}

.database-area{
	display: block;
	height: 400px;
	padding: 15px;
	border: 1px solid gray;
    background: lightgray;
}
.database-area ul {
	height: 100%;
}
.database-area li {
	width: 60px;
	height: 60px;
	position: absolute;
}
.sidebar{
	height: 400px;
	overflow-x: hidden;
	overflow-y: auto;
	margin-top: 75px;
	padding: 15px;
}

.sidebar li,
.database-area li {
	list-style-type: none;
}

.sidebar li p,
.database-area li p {
	margin-bottom: 0;
}

.sidebar li {
	/*position: relative;
	left: 0;
	top: 0;*/
	height: 70px !important;
	margin-top: 10px;
}
.arrow-connector {
    stroke: black;
}
#m1{

	position: absolute;
	top:200px;
	left: 50px;
}
#m2{
	position: absolute;
	top:100px;
	left: 50px;
}
#m3{
	position: absolute;
	top:150px;
	left: 150px;
}